html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.container{
  min-height: 100%;
  position: relative;
}
.body{
  padding-bottom: 40px;
}
footer{
  position: absolute;
  bottom: 0;
  height: 40px;
  width: calc(100% - 30px);
  text-align: center;
  color: #666;
  font-size: 15px;
}

body{
  color: #fff;
  background-color: #222;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
h1{
  color: #349190;
  text-transform: uppercase;
  font-family: 'Audiowide', cursive;
}
.board-container{
  background-color: #333;
  display: inline-block;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
  text-align: left;
}
.board-container, .well{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 16px 3px;
}
.board{
  color: #349190;
}
.board tr td:first-child{
  width: 1.6em;
  text-align: center;
}
.board tr.closed-hood{
  text-align: center;
  height: 2.13em;
}
.board tr .open-hood-cell{
  background-color: #666;
  width: 1.71em;
  height: 2.17em;
  padding: 4px 1px 1px 1px;
  line-height: initial;
  position: relative;
}
.board tr .open-hood-cell::before{
  content:"?";
  background-color: #333;
  width: 1.71em;
  height: 2.27em;
  position: absolute;
  z-index: 3;
  top: 0;
  padding: 13px 5px;
  text-align: center;
  animation-name: fadeOut;
  animation-duration: 4s;
  opacity: 0;
  margin: -2px 0 0 -1px;
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.board tr .peg-cell{
  width: 1.71em;
  height: 2.17em;
  padding: 1px;
}
.board tr .results-cell{
  width:1.9em;
  padding: 2px;
  line-height: 0.8em;
}
.selection-area{
  display: inline-block;
  border-top: solid 1px #666;
  padding-top: 0.8em;
  margin-top: 0.8em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.selection-area button{
  display: block;
  letter-spacing: 1px;
}
.selection-area .circle{
  cursor: pointer;
  margin: 1px 2px;
}
.circle{
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  display: inline-block;
  box-shadow: #000 0px 1px 2px;
  position: relative;
}
.circle::before{
  content: "";
  position: absolute;
  top: 4%;
  left: 4%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(1.5px);
  opacity: 0.4;
  z-index: 2;
}
.circle.red{
  background: radial-gradient(circle at 8px 6px, #f00, #632222);
}
.circle.green{
  background: radial-gradient(circle at 8px 6px, #0f0, #083e08);
}
.circle.blue{
  background: radial-gradient(circle at 8px 6px, #00f, #040425);
}
.circle.yellow{
  background: radial-gradient(circle at 8px 6px, #ff0, #42420f);
}
.circle.brown{
  background: radial-gradient(circle at 8px 6px, #a03d3d, #2b0505);
}
.circle.orange{
  background: radial-gradient(circle at 8px 6px, #ffa500, #48330f);
}
.circle.black{
  background: radial-gradient(circle at 8px 6px, #333, #000);
}
.circle.white{
  background: radial-gradient(circle at 8px 6px, #fff, #868686);
}
.small-circle{
  height: 0.7em;
  width: 0.7em;
  border-radius: 50%;
  border: solid 1px black;
  display: inline-block;
  margin: 0 1px;
}
.small-circle.red{
  background: radial-gradient(circle at 3px 3px, #f00, #652222);
}
.small-circle.white{
  background: radial-gradient(circle at 3px 1px, #fff, #868686);
}
.well{
  max-width: 302px;
  background-color: #333;
  border: none;
  border-radius: 8px;
  padding: 15px;
}
.well .btn{
  letter-spacing: 2px;
}
.btn{
  line-height: 1.5;
  padding-top: 8px;
}
.btn-xs{
  line-height: 1.2;
  padding-top: 3px;
}
.btn-primary{
  background-color: #349190;
  border-color: #215a5a;
}
.btn-primary:hover{
  background-color: #297372;
  border-color: #1f4646;
}
.btn-primary:active{
  background-color: #236160;
  border-color: #163a3a;
}
.btn-primary:active:hover{
  background-color: #1b4a49;
  border-color: #122f2f;
}
.btn-default[disabled]{
  color: #999;
}
.mini-modal{
  background: #666;
  max-width: 302px;
  padding: 15px;
  position: absolute;
  top: 300px;
  right: calc(50% - 141px);
  left: calc(50% - 141px);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 16px 3px;
  border-radius: 8px;
  color: #222;
  animation-name: fadeIn;
  animation-duration: 4s;
  opacity: 1;
  z-index: 5;
}
.mini-modal .close-btn{
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 2em;
  line-height: 1;
  cursor: pointer;
}
.mini-modal .close-btn:hover{
  color: #333;
}
.mini-modal h3{
  color: #fff;
}
